# yaml-language-server: $schema=./node_modules/envio/evm.schema.json
name: envio-erc8004-indexer
networks:
- id: 84532 # Base Sepolia
  start_block: 0
  contracts:
  - name: IdentityRegistry
    address:
    - 0x8004A818BFB912233c491871b3d84c89A494BD9e
    handler: src/EventHandlers.ts
    events:
    - event: Transfer(address indexed from, address indexed to, uint256 indexed tokenId)
    - event: Registered(uint256 indexed agentId, string tokenURI, address indexed owner)
    - event: URIUpdated(uint256 indexed agentId, string newURI, address indexed updatedBy)
    - event: MetadataSet(uint256 indexed agentId, string indexed indexedMetadataKey, string metadataKey, bytes metadataValue)
  - name: ReputationRegistry
    address:
    - 0x8004B663056A597Dffe9eCcC1965A193B7388713
    handler: src/EventHandlers.ts
    events:
    - event: NewFeedback(uint256 indexed agentId, address indexed clientAddress, uint64 feedbackIndex, int128 value, uint8 valueDecimals, string indexed indexedTag1, string tag1, string tag2, string endpoint, string feedbackURI, bytes32 feedbackHash)
    - event: FeedbackRevoked(uint256 indexed agentId, address indexed clientAddress, uint64 indexed feedbackIndex)
preload_handlers: true
